parameters:
    level: 6
    paths:
        - src
        - config
        - workbench
    configDirectories:
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
